<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Waiting+for+the+Sunrise&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="/docs/assets/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/docs/assets/images/favicon.svg" />
<link rel="shortcut icon" href="/docs/assets/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/docs/assets/images/apple-touch-icon.png" />
<link rel="manifest" href="/docs/assets/images/site.webmanifest" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>



