body {
    color: black;
}

a {
    color: #c000f0;
}

a:visited {
    color: #1e0333;
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #ffffff;
    font-family: "Waiting for the Sunrise";
    font-size: 1.35em;
}



h1,
h2 {
    color: #e66700;
    font-family: "Rubik";
    font-weight: 300;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Work Sans";
}

#main {
    position: relative;
}