body {
    color: black;
}

a {
    color: #c000f0;
}

a:visited {
    color: #1e0333;
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #9e90d1;
    font-family: "Waiting for the Sunrise";
    font-size: 1.35em;
}

.search__toggle {
    color: #fff;
}

:hover.search__toggle {
    color: #fff;
    transform: scale(2);
}

h1,
h2 {
    color: #e66465;
    font-family: "Noto Sans";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Quicksand";
}

#main {
    position: relative;
}