.masthead {
    background: linear-gradient(to left, #e66465, #9198e5);
}

a.site-title {
    font-family: "Waiting for the Sunrise"!important;
    font-weight: 500;
    font-size: 1.5em;
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #ffffff;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}
.greedy-nav .visible-links a::before {
    background: #ffffff;
}