.masthead {
    background-color: #4d0bb6
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #ffffff;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}