.page__hero--overlay {
    margin-bottom: 0;
}

.page__hero--overlay .wrapper {
    background-color: #000007;
    padding: 1em;
}
.page__hero-caption a {
    color: #9397E2;
}

.page__hero-caption {
    opacity: 0.7;
}
