.taxonomy__section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0em;
    border: none;

    &:not(:last-child) {
        border: none;
      }
}


.taxonomy__section+.taxonomy__section {
    margin-top: 0;
}

.taxonomy__section h3 {
    margin-top: 0;
}

.taxonomy__index a {
    padding: 0 5px;
    border-radius: 5px;
    background-color: #e66465;
    color: white;
}